.addproduct {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px auto;
  border-radius: 6px;
  background: white;
}

.addproduct-itemfield {
  color: #7b7b7b;
  font-size: 16px;
  margin-bottom: 15px;
}

.addproduct-price {
  margin-top: 20px;
}

.addproduct-itemfield input,
.addproduct-itemfield select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.addproduct-itemfield input:focus,
.addproduct-itemfield select:focus {
  outline: none;
  border-color: #6c63ff; /* You can change this color for focus effect */
}

.addproduct-itemfield p {
  font-weight: 600;
  width: 30%;
}

.addproduct-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #6c63ff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.addproduct-btn:hover {
  background-color: #5753e1;
}

.addproduct-thumbnail-img {
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
  cursor: pointer;
}
