.footer {
  width: 100%;
  background-color: #f4eeeea7;
  color: rgba(11, 8, 8, 0.918);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-logo {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 10px; 
}

.footer-logo img {
  width: 120px;
  height: auto;
}

.footer-logo p {
  font-size: 24px;
  font-weight: 600;
  margin: 0; 
}

.footerlinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.footerlinks li {
  cursor: pointer;
  transition: color 0.3s;
}

.footerlinks li:hover {
  color: #e53935;
}

.footer-social-icon {
  display: flex;
}

.footer-social-icon img {
  width: 30px;
  height: 30px;
  margin-right: 30px; /* Adds space to the right of each icon */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer-social-icon img:last-child {
  margin-right: 0; /* Removes extra margin after the last icon */
}

.footer-copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #0a0a0a;
}

.footer-copyright hr {
  border: 1px solid #d2d1d1;
  width: 100%;
  margin-bottom: 10px;
}
