/* .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: white;
}

.nav-logo{
  width: 70px;
}
.nav-profile{
  width: 70px;
} */



/* General Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-logo {
  height: 40px;
  width: auto;
}

.nav-profile {
  height: 30px; 
  width: auto;
  cursor: pointer; 
}


@media (max-width: 768px) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-logo {
    height: 45px;
   
  }
  .nav-profile {
    height: 35px; 
   
  }
}
